
.scrollbars::-webkit-scrollbar {
    width: 7px;
}
.scrollbars::-webkit-scrollbar-button {
    background: rgb(24, 50, 78);
}
.scrollbars::-webkit-scrollbar-track-piece {
  background: rgb(24, 50, 78);
}
.scrollbars::-webkit-scrollbar-thumb {
    background: white;
    
}


.scrollbars::-webkit-scrollbar-thumb {
  border-radius: 40px;
}